body {
	margin: 0;
	padding: 0;
}
.Quangcao .banner {
	margin: 0 auto;
}
.menu {
	padding-top: 10px;
}
.menu ul {
	list-style-type: none;
	/* margin-left: 59%; */
  text-align: right;
}
.menu ul li {
	display: inline-block;
}
.menu ul a{
	color: #2c3e50;
	text-align: center;
	margin-right: 20px;
}

/* #item ul li:hover #detail li {
	display: block !important;
} */
/* .listmenu{
  	margin-left: 20px;
  	margin-top: 50px;
}
.listmenu li {
	font-weight: bold;
	color: #2c3e50;
} */

.search-right{
	display: inline-block;
}
.search-right a img{
	margin-top: -60px;
}
.search-left a img {
	margin-left: 25px;
}
.search-left{
	display: inline-block;
	margin-top: 35px;
	margin-left: 70px;
}

@media only screen and (max-width: 1500px){
	.logo .small{
    display: none !important;
  }
  .logo .large{
    display: block !important;
    margin-left: 185px;
    margin-top: 25px;
  }
  .navbar-default {
  	background-image: url("../img/bg-top.png");
  	background-repeat: repeat-x;
  	height: 120px;
  }
  
  #detail li{
	display: none;
	}
  #item ul li:hover #detail li {
    display: block !important;
  }
  #item ul li {
  	position: relative;
  	/* width: 130px; */
    padding: 1px 8px;
  }
  #item ul li:hover #detail{
    position: absolute;
    background-color: #2c3e50;
    padding-left: 12px;
    color: #ecf0f1;
  }
}
@media only screen and (min-width: 769px){
	#item2, #item1 {
	display: none !important;
  }
}
@media only screen and (max-width: 1080px){
	.search {
		display: none;
	}
}
@media only screen and (max-width: 1125px){
	.search-right {
		display: none;
	}
	.search-left {
		margin-left: 0px;
	}
}
@media only screen and (max-width: 768px){
  .menu {
  	display: none !important;
  }
  .logo .large {
  	margin-left: 45%;
  	margin-top: 25px;
  }
  .icon3, .icon2 {
  	display: none !important;
  }
  .icon {
  	margin-top: 35px;
  }
  .icon0, .icon1 {
  	margin-right: 30%;
  }
  .search {
  	display: none !important;
  }
  #item ul li:hover #detail{
    position: absolute;
    left: 100%;
    top: -50%;
  }
  #lienhe, #tuyendung {
  	display: none;
  }
}

@media only screen and (max-width: 480px){
  .logo .small{
    display: block !important;
    margin-left: 45%;
    margin-top: 36px;
  }
  .logo .large{
    display: none !important;
  }
  .icon {
  	margin-right: 5%;
  	margin-top: 56px;
  }
  .icon3, .icon2 {
  	display: block !important;
  }
  .icon0, .icon1, .icon2, .icon3 {
  	margin-right: 10%;
  }
  
}