<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>SigninServlet</servlet-name>
        <servlet-class>servlet.SigninServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>servlet.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeAdminServlet</servlet-name>
        <servlet-class>servlet.admin.HomeAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Loginservlet</servlet-name>
        <servlet-class>servlet.Loginservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangPassServlet</servlet-name>
        <servlet-class>servlet.ChangPassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEditScheduleServlet</servlet-name>
        <servlet-class>servlet.admin.AddEditScheduleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEditRoomServlet</servlet-name>
        <servlet-class>servlet.admin.AddEditRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEditCinemaServlet</servlet-name>
        <servlet-class>servlet.admin.AddEditCinemaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEditSeatServlet</servlet-name>
        <servlet-class>servlet.admin.AddEditSeatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEditSale</servlet-name>
        <servlet-class>servlet.admin.AddEditSale</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEditCategory</servlet-name>
        <servlet-class>servlet.admin.AddEditCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEditFilm</servlet-name>
        <servlet-class>servlet.admin.AddEditFilm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeatRoomServlet</servlet-name>
        <servlet-class>servlet.api.SeatRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookTicketServlet</servlet-name>
        <servlet-class>servlet.api.BookTicketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>servlet.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>servlet.OrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SigninServlet</servlet-name>
        <url-pattern>/SigninServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeAdminServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Loginservlet</servlet-name>
        <url-pattern>/Loginservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangPassServlet</servlet-name>
        <url-pattern>/ChangPassServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEditScheduleServlet</servlet-name>
        <url-pattern>/addEditSchedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEditRoomServlet</servlet-name>
        <url-pattern>/addEditRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEditCinemaServlet</servlet-name>
        <url-pattern>/addEditCinema</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEditSeatServlet</servlet-name>
        <url-pattern>/addEditSeat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEditSale</servlet-name>
        <url-pattern>/add_edit_sale</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEditCategory</servlet-name>
        <url-pattern>/add_edit_category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEditFilm</servlet-name>
        <url-pattern>/add_edit_film</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeatRoomServlet</servlet-name>
        <url-pattern>/seatRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookTicketServlet</servlet-name>
        <url-pattern>/bookTicket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/OrderServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
